@page "/progress"
@using System.Net.Http

<div class="progress">
    <div class="progress-bar bg-success"
         role="progressbar" style="width: @(p)%" aria-valuenow="@p" aria-valuemin="0" aria-valuemax="100"></div>
</div>

@code {

    int count = 0;
    int p = 0;

    protected override async Task OnInitializedAsync()
    {
        var x1 = new Progress<int>(x =>
        {
            p = x;

            StateHasChanged();

        });
        await GetPosts(new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 5, 6, 1, 12, 23, 2, 23, 23, 22 }, x1);

    }
    public async Task GetPosts(List<int> ids, IProgress<int> progress = null)
    {
        using var client = new HttpClient();
        var tasks = new List<Task<HttpResponseMessage>>();

        tasks = ids.Select(async x =>
        {

            var re = await client.GetAsync("https://jsonplaceholder.typicode.com/todos/" + x);
            await Task.Delay(5000);
            if (progress != null)
            {
                count++;
                var percentage = (double)count / tasks.Count();
                var p = percentage * 100;
                var pint = (int)Math.Round(p, 0);
                progress.Report(pint);
            }

            return re;
        }
        ).ToList();
        var res = await Task.WhenAll(tasks);
        foreach (var element in res)
        {
            var content = await element.Content.ReadAsStringAsync();
            Console.WriteLine(content);
        }


    }
}
